/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of /home/ubuntu/workspace/thomas-asnar/css/main.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: @charset "utf-8";
5: 
6: 
7: 
8: // Our variables
9: $base-font-family: "Ubuntu",Georgia,Helvetica, Arial, sans-serif;

Backtrace:
/home/ubuntu/workspace/thomas-asnar/css/main.scss:4
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:1163:in `expected'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:1099:in `expected'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:1094:in `tok!'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:641:in `block'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:635:in `ruleset'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:660:in `block_child'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/engine.rb:393:in `_to_tree'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of /home/ubuntu/workspace/thomas-asnar/css/main.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: @charset \"utf-8\";\A 5: \A 6: \A 7: \A 8: // Our variables\A 9: $base-font-family: \"Ubuntu\",Georgia,Helvetica, Arial, sans-serif;"; }
