---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Ubuntu",Georgia,Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "gylphicon"
;

.liste-experiences,.liste-fonctions,#coordonnees ul{
    list-style-type:none;
    margin-left:0;
}
.liste-experiences h2,.liste-experiences h3,#nom-complet h2{
    margin-bottom:0;
}
.liste-experiences h2 span{
   font-size:0.8em;
}
.liste-descriptions,.liste-taches,#loisirs ul,#about-site ul{
    margin-bottom:25px;
    list-style-type:square;
}
#competences .liste-experiences li{
    display:inline;
    margin-right:10px;
}
#competences .liste-descriptions{
    margin-bottom:0;
}
#nom-complet h1,#nom-complet h2{
    font-weight:700;
}
#nom-complet,#metier,#coordonnees{
    width:30%;
    float:left;
    margin-right:3%;
}
#coordonnees ul{
    font-size:0.8em;
}
#presentation{
    text-align: justify;
}
h1{
    border-top:3px solid black;
}


@include media-query($on-palm) {
    body,p {
        font-size:$small-font-size;
    }
    #nom-complet,#metier{
        text-align:center;
    }
    #nom-complet,#metier,#coordonnees{
        width:100%;
    }
}

@media print{
    .no-print{
        display:none!important;
        visibility:hidden;
    }
}