---
layout: default
titre-court: home
---
{% for post in paginator.posts %}
{% if forloop.first == true %}
<div id="page-first-post">

  <div itemscope itemtype="http://schema.org/Article" class="post">

    <article class="post-content" itemprop="articleBody">
      <h1 itemprop="name about headline" class="post-title">{{ site.posts[0].title }}</h1>
      {{ site.posts[0].excerpt }}
      (voir plus)
      <a class="post-link" href="{{ site.posts[0].url | prepend: site.baseurl }}">{{ site.posts[0].title }}</a>
      <p class="post-meta">
        <time class="post-meta" itemprop="datePublished dateModified"
          datetime="{{ site.posts[0].date | date_to_xmlschema }}">{{ site.posts[0].date | date: "%d-%m-%Y" }}</time>
      </p>
    </article>
  </div>
</div>
{% endif %}
{% endfor %}
<nav>
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path }}" class="Précédant">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if paginator.page == page %}
    <li class="active">
      <span>{{ page }}</span>
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path }}" aria-label="Suivant">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<ul class="post-list post-list-with-type">
  {% for post in paginator.posts %}
  <li>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<ul class="post-list">
  {% for post in paginator.posts %}
  {% if forloop.first != true %}
  <li>
    <div class="card">
      <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
      <p>{{ post.excerpt }}</p>
    </div>

  </li>
  {% endif %}
  {% endfor %}
</ul>
<!-- Pagination links -->
<nav>
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path }}" class="Précédant">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if paginator.page == page %}
    <li class="active">
      <span>{{ page }}</span>
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path }}" aria-label="Suivant">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>