---
layout: null
title: Plan
---
<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>
    
    {% include header.html %}

    <div class="content container">
        <div id="page-content" class="bg-success">
            <a href="/sitemap.xml" title="sitemap.xml">Sitemap.xml</a>
        </div>
    </div>

    {% include footer.html %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script>
      jQuery.ajax("/sitemap.xml").done(data => {
         jQuery("#page-content").append("<ul></ul>")                                       
         $(data).find("loc").each((o,v) => 
                                  jQuery("#page-content ul").append('<li><a href="'+ v.textContent + '" title="' + v.textContent + '">' + v.textContent + "</a></li>")
                                 )
      })
    </script>
    
  </body>

</html>
