---
layout: null
title: Plan
---
<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>
    
    {% include header.html %}

    <div class="content container">
        <div id="page-content" class="bg-success">
            <a href="/sitemap.xml" title="sitemap.xml">Sitemap.xml</a>
        </div>
    </div>

    {% include footer.html %}
    <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
    
  </body>

</html>
