<footer class="container no-print" id="footer">
    &copy;2014-{{ site.time | date:"%Y" }}<a rel="publisher author" href="https://plus.google.com/u/0/102841117216377296235" title="https://plus.google.com/+ThomasASNAR">Thomas ASNAR</a>
    &nbsp;<a class="hidden" href="/sitemap.xml" title="SiteMap">sitemap</a>
    <a href="/plan" title="Plan du site">sitemap</a>&nbsp;
    <a id="goto-site-header" href="#site-header" title="Retourner au début"><span class="glyphicon glyphicon-arrow-up"></span><span class="no-css">Top</span></a>
</footer>
<div class="no-print tree hidden-xs" id="tree-1"><span class="glyphicon glyphicon-tree-deciduous"></span></div>
<div class="no-print tree hidden-xs" id="tree-2"><span class="glyphicon glyphicon-tree-deciduous"></span></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
 
