<footer id="site-footer">
    <div>
        &copy;2014-{{ site.time | date:"%Y" }}<a rel="publisher author" href="https://plus.google.com/u/0/102841117216377296235" title="https://plus.google.com/+ThomasASNAR">Thomas ASNAR</a>
    </div>
    <div>
            <a href="/plan" title="Plan du site">sitemap</a>
    </div>
    <div>
        <a id="goto-site-header" href="#site-header" title="Retourner au début">&uArr; Top</a>
    </div>
    <div id="footer-disclaimer">
        <p>Avertissement : vous ne devez pas prendre pour argent comptant le contenu de ce site. Testez toujours la solution en environnement de test.</p>
        <p>Malgré le sérieux que je m'efforce de mettre dans le contenu de ces billets, je ne pourrai être tenu responsable d'éventuelles erreurs que cela pourrait engendrer.</p>
    </div>
    <div>
        <a class="hidden" href="/sitemap.xml" title="SiteMap">sitemap</a>
    </div>
</footer>