<footer id="site-footer">
    <div>&copy;<a rel="publisher author" href="https://www.linkedin.com/in/thomas-asnar-vtom/" title="LinkedIn Thomas ASNAR VTOM">Thomas ASNAR</a></div>
    <div>
            <a href="/plan" title="Plan du site">sitemap</a>
    </div>
    <div>
        <a id="goto-site-header" href="#site-header" title="Retourner au début">&uArr; Top</a>
    </div>
    <div id="footer-disclaimer">
        <p>Avertissement : vous ne devez pas prendre pour argent comptant le contenu de ce site. Testez toujours la solution en environnement de test.</p>
        <p>Malgré le sérieux que je m'efforce de mettre dans le contenu de ces billets, je ne pourrai être tenu responsable d'éventuelles erreurs que cela pourrait engendrer.</p>
    </div>
    <div>
        <a class="hidden" href="/sitemap.xml" title="SiteMap">sitemap</a>
    </div>
</footer>
