$glyphicon-path: "../../assets/vendor/bootstrap/dist/fonts" ;

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url(#{$glyphicon-path}/glyphicons-halflings-regular.eot);
  src: url(#{$glyphicon-path}/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(#{$glyphicon-path}/glyphicons-halflings-regular.woff2) format('woff2'), url(#{$glyphicon-path}/glyphicons-halflings-regular.woff) format('woff'), url(#{$glyphicon-path}/glyphicons-halflings-regular.ttf) format('truetype'), url(#{$glyphicon-path}/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span.glyphicon{
  margin-right:5px;
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-earphone:before {
  content: "\e182";
}