---
sitemap: false
---

//@import url('https://fonts.googleapis.com/css?family=Ubuntu:bold,normal') ;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
       "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss"
;
// Our variables
$base-font-family: "Ubuntu",Georgia,Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F2ECDA;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "_syntax-highlighting.scss" ;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


html {
    background-color:#1CAA00;	
    position:relative;
    z-index:1;
}
body{
  font-family:$base-font-family;
position:relative;
z-index:-2;
background: #85c8e2; /* Old browsers */
background: -moz-linear-gradient(top,  #85c8e2 0%, #35c6ba 50%, #08dd08 50%, #1caa00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85c8e2), color-stop(50%,#35c6ba), color-stop(50%,#08dd08), color-stop(100%,#1caa00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #85c8e2 0%,#35c6ba 50%,#08dd08 50%,#1caa00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #85c8e2 0%,#35c6ba 50%,#08dd08 50%,#1caa00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #85c8e2 0%,#35c6ba 50%,#08dd08 50%,#1caa00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #85c8e2 0%,#35c6ba 50%,#08dd08 50%,#1caa00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c8e2', endColorstr='#1caa00',GradientType=0 ); /* IE6-9 */

}

img{
	max-width:100% !important;
}

.content{
    position:relative;
    z-index:100;
}
#cv-inside,#coordonnees .bg-success,.post.bg-success,#page-content.bg-success{
    padding:15px 30px ;
    border-radius:20px;
    border:3px solid #85c8e2;
}

/* Titres et listes */
.liste-cv,.liste-fonctions,#coordonnees ul,.post-list{
    list-style-type:none;
    margin-left:0;
}

.liste-cv h2,.liste-cv h3,#nom-complet h2{
    margin-bottom:0;
}
.liste-cv h2 span{
   font-size:0.8em;
}
.liste-descriptions,.liste-taches,#about-site ul{
    margin-bottom:25px;
    list-style-type:square;
}
#competences .liste-cv li{
    display:inline;
    margin-right:10px;
}
#competences .liste-descriptions{
    margin-bottom:0;
}
#nom-complet h1,#nom-complet h2{
    font-weight:700;
}
#nom-complet,#metier,#coordonnees{
    width:30%;
    float:left;
    margin-right:3%;
}
#coordonnees ul{
    font-size:0.8em;
}
#presentation{
    text-align: justify;
}
.titres-cv,#presentation h1,#nom-complet{
    letter-spacing: 0.5em;
    font-weight:900;
}
.titres-cv,.titres-separator{
    cursor: pointer;
}
.titres-separator{
    text-align:right;
}

/* glyphicon */
.glyphicon{
    margin-right:5px;
}

/* POST */
.post-list{
    padding-left:0;
}
.post-list h2{
    margin:0;
    font-size:$base-font-size;
}
.post-meta{
    font-size:0.8em;
}
.post-footer{
  margin-bottom:10px;
}

/* HEADER */
#site-header-menu{
  position:relative;
  z-index:100;
  margin-top:10px;
  margin-bottom:10px;
}
#site-header-menu li{
    display:inline-block;
    font-weight:900;
    font-size:1.5em;
    margin-right:10px;
}
#exec-search{
  z-index:100;
}
#exec-search-container{
  margin-bottom:10px;
}

/* FOOTER */
#footer{
    text-align:center;
    margin-top:50px;
    padding-bottom:100px;
}
#footer a{
    color:black;
}

// Helpers
.no-css{
    display:none;
}

/* TREE */
.tree{
  color:green;
   position:absolute;
}
#tree-1{
    z-index:-1;
    right:0;
    bottom:0;
}
#tree-1 .glyphicon{
  font-size:300px;
}
#tree-2{
    z-index:3;
    left:0;
    top:48%;
}
#tree-2 .glyphicon{
  font-size:150px;
}
/* SUNCOURSE */
.cloud{
    z-index:2;
    position:absolute;
}
.cloud .glyphicon-cloud{
    color:white;
}
#cloud-1{
    right:2px;
    top:80px;
}
#cloud-1 .glyphicon-cloud{
    font-size:150px;
}
#cloud-2{
    left:10px;
    top:100px;
}
#cloud-2 .glyphicon-cloud{
    font-size:100px;
}
#cloud-3{
    left:40%;
    top:2%;
    z-index:-1!important;
}
#cloud-3 .glyphicon-cloud{
    font-size:50px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes suncourse {
    from    {left: -100px;}
    50%  {
        top: 0;
        left:50%;
    }
    100% {left: 90%;}
}

/* Standard syntax */
@keyframes suncourse {
    0%    {left: -100px;}
    50%  {
        top: 0;
        left:50%;
    }
    100% {left: 90%;}
}

/* Spinning, gradient circle; CSS only! */
#sun-course {
    border-radius: 50%;
	width: 100px;
	height: 100px;
	position:absolute;
    top:100px;
	z-index:1;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	
	-webkit-animation-name: suncourse; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 120s; /* 3 seconds */
	animation-name: suncourse; 
	animation-duration: 120s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}



/* MEDIA QUERY */
@include media-query($on-palm) {
    body,p,h1,h2,h3,h4,h5,h6,.titres-cv,#presentation h1,#nom-complet{
        font-size:$small-font-size;
    }
    .nav-pills>li a,.nav-pills>li a .glyphicon{
      padding:5px;
    }
    .bg-success,.container{
      padding:0!important;
      margin:0!important;
    }
    #page-content,.post{padding:10px!important;}

    #load-main-css{
        font-size:$small-font-size / 2;
    }
    #nom-complet,#metier{
        text-align:center;
    }
    #nom-complet,#metier,#coordonnees{
        width:100%;
    }
    .titres-cv,#presentation h1,#nom-complet{
        letter-spacing:0.1em;
    }
}

@media print{
    .no-print{
        display:none!important;
        visibility:hidden;
    }
}
