.hidden { display:none;}
body{
  padding:0;
  margin:0;
}
#site-footer{
  grid-area: footer;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#footer-disclaimer{
  grid-column: 1 / span 3;
}
#site-header{
  grid-area: header;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#site-header h1, #site-footer div {
  justify-self: center;
}
.post{
  grid-area: main;
}
#grille-principale{
  display:grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-gap: 10px;
  justify-items: center;
}

@media screen and (max-width: 48rem) {
  #site-header{
    grid-template-columns: 1fr;
  }
  html {
    font-size: 12px;
  }
  h1{
    font-size:1.5rem!important;
  }
}