---
sitemap : false
---
@import "modest.css";
@import "_syntax-highlighting.scss";
.hidden {
  display:none;
}
body{
  padding:0;
  margin:0;
}
#grille-principale{
  padding:0 1% ;
  max-width:80%;
  margin:0 auto;
}
#site-header, #site-footer{
  display:grid;
  -ms-display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-template-columns: 1fr 1fr 1fr;
}
#footer-disclaimer{
  -ms-grid-column: 1 / span 3;
  grid-column: 1 / span 3;
}
#site-header h1, #site-footer div {
  justify-self: center;
}
@media screen and (max-width: 48rem) {
  #site-header{
    grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
  }
  #grille-principale{
    max-width:100%;
  }
  html {
    font-size: 12px;
  }
  h1{
    font-size:1.5rem!important;
  }
}
